{% extends 'AdminBase.html.twig' %}

{% block title %}Admin!{% endblock %}

{% block body %}
<section class="content" style="margin-top: 3%">
    <div class="row">
        <div class="col-lg-12">
      <!-- /.card -->
            <div class="card" >
                <div class="card-header" style="font-family: 'Frijole', cursive;">
                    <h3 class="card-title"><b>Admin Table</b></h3>
                    <a class="fancy-button bg-gradient2 float-right" style="margin-top: -35px; color: #0c890c;" href="/admin/newAdmin"
                        style="color: #0C893A ;">
                        <span>
                        <i class="fa fa-plus modal-title"></i><b style="cursor: pointer;">Add New Admin</b></span></a>
                </div>
				<div class="card-body" >
                
				
					    <!-- /.box-title -->

					    <!-- /.dropdown js__dropdown -->
                    <table id="example" class="table table-bordered table-striped display" style="width:100%" >
                        <thead style="color: #0c890c;">
                            <tr>
                                <th>Id</th>
                                <th>nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                            
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>nom</th>
                                <th>Prénom</th>
                                <th>Email</th>
                                
                                <th>actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {% for admin in admins %}
                                <tr>
                                    <td>{{ admin.id }}</td>
                                    <td>{{ admin.nom}}</td>
                                    <td>{{ admin.prenom}}</td>
                                    <td>{{ admin.email }}</td>
                                    
                                    <td>
                                     <a class="delete ml-2"   style="color: #4caf50;"><i style="cursor: pointer;" class="material-icons">&#xE254;</i></a>
                                    <a class="delete ml-2" href="/admin/deleteAdmin/{{admin.id}}"  style="color: #E34724;"><i style="cursor: pointer;" class="material-icons">&#xE872;</i></a>

                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">no records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
			</div>
		</div>
    </div>
    {% for message in app.flashes('suprimée') %}
        <center><div class="col-9 alert alert-success">
            {{ message }}
        </div></center>
    {% endfor %}
    
</section>
{% endblock %}
