{% extends 'offreBase.html.twig' %}

{% block title %}Offre{% endblock %}

{% block body %}

<div class="wrapper">
  <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Votre Offre</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              
              <li class="breadcrumb-item active">recruteur/offre</li>
              
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h5 class="">table des offre </h5>
                <a class=" card-title fancy-button bg-gradient2 float-right" style="margin-top: -30px; color: #007bff;" href="/recruteur/offre/new"
                        style="color: #0C893A ;">
                        <span>
                        <i class="fa fa-plus modal-title"></i><b style="cursor: pointer;">Ajouter Offre d'emploi</b></span></a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>Nom de l'offre</th>
                    <th>Description</th>
                    <th>Categorie</th>
                    <th>Date de mise de l'offre </th>
                    <th>Candidats postuler</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for offre in offres %}
                    <tr>
                        <td>{{ offre.id }}</td>
                        <td>{{ offre.nom }}</td>
                        <td>{{ offre.description }}</td>
                        <td>{{ offre.categorie }}</td>
                        <td>{{ offre.date|date('d-m-Y')  }}</td>
                        <td><a class="delete ml-2" href="/recruteur/candidateur/{{offre.id}}"  style="color: #007bff;"><i class="fas fa-eye"></i></a></td>
                        <td>
                            <a class="delete ml-2" href="/recruteur/offre/edit/{{offre.id}}"  style="color: #007bff;"><i style="cursor: pointer;" class="material-icons">&#xE254;</i></a>
                            <a class="delete ml-2" href="/recruteur/offre/delete/{{offre.id}}"  style="color: #E34724;"><i style="cursor: pointer;" class="material-icons">&#xE872;</i></a>     
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-center" colspan="10">no records found</td>
                    </tr>
                {% endfor %}
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Id</th>
                    <th>Nom de l'offre</th>
                    <th>Description</th>
                    <th>Categorie</th>
                    <th>Date de mise de l'offre </th>
                    <th>Candidats postuler</th>
                    <th>Actions</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->


            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
          {% for message in app.flashes('suprimée') %}
        <center><div class="col-9 alert alert-success">
            {{ message }}
        </div></center>
    {% endfor %}
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  
  <!-- /.content-wrapper -->


  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>


{% endblock %}