<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            	<link rel="stylesheet" href={{ asset("assets/styles/style.min.css") }}>
                <link rel="stylesheet" href={{ asset("assets/styles/custom.css") }}>

                <!-- Waves Effect -->
                <link rel="stylesheet" href={{ asset("assets/plugin/waves/waves.min.css") }}>
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}


        	<script src={{ asset("assets/scripts/jquery.min.js") }}></script>
            <script src={{ asset("assets/scripts/modernizr.min.js") }}></script>
            <script src={{ asset("assets/plugin/bootstrap/js/bootstrap.min.js") }}></script>
            <script src={{ asset("assets/plugin/nprogress/nprogress.js") }}></script>
            <script src={{ asset("assets/plugin/waves/waves.min.js") }}></script>

            <script src={{ asset("assets/scripts/main.min.js") }}></script>
            <script src={{ asset("assets/scripts/mycommon.js") }}></script>
    </body>
</html>
